.logo-div{
    height: 60px;
    width: 200px;
margin: auto;
margin-bottom: 20px;
}

.logo-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.proceed-btn{
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 20px;
}

.btn-div{
display: flex;
justify-content: end;
}

.pagination-container{
    margin-top: 20px;
}

.pagination-container .visually-hidden{
    display: none;
}

.invoice-cards:hover{
text-decoration: none !important;
}


